doctype html
html
  head
    meta(name='viewport' content="width=device-width,initial-scale=1")
    title FlappyBird
    script(src='bundle.js')
  body
    .flappy
      canvas#flappy-canvas(width='800' height='600')
      #flappy-status.flappy-status.flappy_show
        button#flappy-play.flappy-btn Start
        #flappy-msg.flappy-msg Click Start
