.flappy {
  width: 800px;
  height: 600px;
  position: relative;
  background-image: url('./img/bg.png');
  background-size: cover;
}

.flappy-status {
  width: 150px;
  height: 100px;
  background-color: rgba(23,23,23,0.4);
  position: absolute;
  text-align: center;
  border-radius: 10px;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  display: none;
}

.flappy_show {
  display: block;
}

.flappy-btn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 23px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: RGBA(184, 196, 127, 1.00);
  color: white;
  border-style: none;
}

.flappy-msg {
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flappy-msg_over {
  color: red;
}
