doctype html
html
  head
    title Twitch

  body
    .twitch
      .twitch-header
        .twitch-brand TWITCH STREAMERS
        .twitch-filter
          .twitch-all.twitch-status.twitch-status_active ALL
          .twitch-online.twitch-status ONLINE
          .twitch-offline.twitch-status OFFLINE

      .twitch-lists
        .twitch-item.twitch-item_online
          a.twitch-link(href='javascript:void(0);')
            img.twitch-img(src='' alt='')
            .twitch-title ESL_SC2
          .twitch-desc StarCraft II: RERUN: Jjakji vs. Innovation (TvT) - Ro64 - Qualifier 1StarCraft II: RERUN: Jjakji vs. Innovation (TvT) - Ro64 - Qualifier 1
        .twitch-item.twitch-item_offline
          a.twitch-link(href='javascript:void(0);')
            img.twitch-img(src='' alt='')
            .twitch-title ESL_OFFLINE
          .twitch-desc Offline
