doctype html
html
  head
    meta(name='viewport' content="width=device-width,initial-scale=1")
    title FlyBird
    script(src='bundle.js')
  body
    .container
      canvas#canvas(width='800' height='600')
