* {
  box-sizing: border-box;
}

html {
  font-size: 100px;
}

body {
  min-width: 3.2rem;
}
/**
 * --- navbar begin ---
 */
.navbar {
  background-color: RGBA(87, 128, 148, 1.00);
  background-image: url('../img/Filippijnen-Sambawan.jpg');
  border-bottom: none;

  .navbar-brand {
    color: RGBA(251, 188, 73, 0.8);

    &:hover {
      color: RGBA(251, 188, 73, 0.8);
    }
  }

  .navbar-toggle.collapsed {
    background-color: RGBA(251, 188, 73, 0) !important;
  }

  .active .nav-item {
    background-color: RGBA(251, 188, 73, 1.00) !important;
  }

  .nav-item {
    color: white !important;
  }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: RGBA(251, 188, 73, 1.00);
}
/**
 * --- navbar end ---
 */
/**
 * Make some sections with screen hight.
 */
.full-screen {
  height: 8rem;
  height: calc(100vh - 50px);
}
/**
 * The common style.
 */
.content {
  width: 100%;
  background-color: RGBA(254, 203, 120, 1.00);
  background-position: center center;
  background-size: cover;
}
/**
 * --- home begin ---
 */
.home {
  margin-top: 50px;
  background-color: RGBA(87, 128, 148, 1.00);
  background-image: url('../img/Filippijnen-Sambawan.jpg');
}

.home_title {
  padding-top: 1.5rem;
  color: white;
  font-size: 0.36rem;
}
/**
 * --- home end ---
 */
/**
  * --- about begin ---
  */
.about {
  // background-image: map-get($bg, 'about');
  background: linear-gradient(to bottom, RGBA(27, 169, 187, 1.00), RGBA(190, 195, 161, 1.00));
}

.about_body {
  min-width: 2rem;
  margin-top: 1rem;
  opacity: 0.8;
  border-radius: 10%;
  background-color: RGBA(249, 193, 112, 1.00);
}

.about_img {
  width: 50%;
  height: 50%;
}
/**
 * --- about end ---
 */
/**
  * --- portfolio begin ---
  */
.portfolio {
  // background-image: map-get($bg, 'portfolio');
  background: linear-gradient(to bottom, RGBA(116, 82, 55, 1.00), RGBA(253, 196, 114, 1.00));
}

.portfolio_container {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.portfolio_body {
  background-color: rgba(255,255,255,0.5);
  border: none;
}

.portfolio_img {
  opacity: 0.8;
}
/**
 * --- portfolio end ---
 */
/**
 * --- contact begin ---
 */
.contact {
  // background-image: map-get($bg, 'contact');
  background: linear-gradient(to bottom, RGBA(57, 39, 16, 1.00), RGBA(187, 133, 89, 1.00));
}

.contact_first {
  margin-bottom: 0.5rem;

  & [class^='col'] {
    margin-top: 2.3rem;
  }
}

.contact_btn {
  width: 1.5rem;
  background-color: RGBA(249, 193, 112, 1.00);

  &:hover {
    color: white;
    background-color: RGBA(251, 187, 27, 1.00);
  }
}
/**
 * --- contact end ---
 */
/**
 * --- footer begin ---
 */
.footer {
  position: relative;
  width: 100%;
  height: 0.8rem;
  background-image: linear-gradient(to bottom, RGBA(251, 187, 2, 1.00), RGBA(251, 189, 144, 1.00));
}

.footer_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.16rem;
}
/**
 *  --- footer end ---
 */
