doctype html
html
  head
    title Local Weather

  body
    #weather.weather
      .weather-title Weather App
      #weather-content
        .weather-location
        .weather-condition
        .weather-text
        .weather-img
