// output: ./index.html

doctype html
html
  head
    title Xandeer's Portfolio
    script(src='bundle.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .row
          .col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Xandeer
            .collapse.navbar-collapse#navbar-collapse-1
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href='#') Home
                li
                  a(href='#') About
                li
                  a(href='#') Portfolio
                li
                  a(href='#') Contact

    main
      section#home
        .container-fluid
          .row
            .col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
              h2.text-center Know why you're writing the code you're writing, and how it works.

      section#about
        .container-fluid
          .row
            .col-md-offset-1.col-md-4.col-sm-offset-1.col-sm-4.col-xs-offset-1.col-xs-4
              .thumbnail
                img(src='./img/me.jpg').img-circle
                .caption.text-center
                  h3 About Me
                  p Holisticly re-engineer quality solutions after turnkey vortals. Objectively predominate cross-media methodologies via quality schemas. Assertively evolve.


      section#portfolio
        .container-fluid
          .row
            .col-md-10.col-md-offset-1.col-sm-8.col-sm-offset-2
              .row
                .col-md-6.col-sm-12.col-xs-12
                  .thumbnail
                    img.img-responsive(src='./img/calc.jpg')
                    .caption.text-center
                      h3 Calculator
                .col-md-6.col-sm-12.col-xs-12
                  .thumbnail
                    img.img-responsive(src='./img/wiki.jpg')
                    .caption.text-center
                      h3 Wikipedia Search Engine
                .col-md-6.col-sm-12.col-xs-12
                  .thumbnail
                    img.img-responsive(src='./img/weather.jpg')
                    .caption.text-center
                      h3 Weather App
                .col-md-6.col-sm-12.col-xs-12
                  .thumbnail
                    img.img-responsive(src='./img/pacman.jpg')
                    .caption.text-center
                      h3 Pacman Tic Tac Toe


      section#contact
        .container-fluid
          .row
            .col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
