// output: ./index.html

- var portfolio = [{img: './img/calc.jpg', title: 'Calculator'}, {img: '/img/wiki.jpg', title: 'Wikipedia Search Engine'}, {img: './img/weather.jpg', title: 'Weather App'}, {img: './img/pacman.jpg', title: 'Pacman Tic Tac Toe'}];
- var aboutImg = './img/me.jpg';
- var aboutText = ' Holisticly re-engineer quality solutions after turnkey vortals. Objectively predominate cross-media methodologies via quality schemas. Assertively evolve.';

doctype html
html
  head
    meta(name='viewport' content="width=device-width,initial-scale=1")
    title Xandeer's Portfolio
    script(src='bundle.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .row
          .col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Xandeer
            .collapse.navbar-collapse#navbar-collapse-1
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href='#') Home
                li
                  a(href='#') About
                li
                  a(href='#') Portfolio
                li
                  a(href='#') Contact

    main
      section.content.home.full-screen
        .container
          .row
            .col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
              h2.home_title.text-center Know why you're writing the code you're writing, and how it works.

      section.content.about.full-screen
        .container
          .row
            .col-md-offset-1.col-md-4.col-sm-offset-1.col-sm-4.col-xs-offset-1.col-xs-4
              .about_body.thumbnail
                img.about_img(src=aboutImg).img-circle
                .caption.text-center
                  h3.about_title About Me
                  p.about_text= aboutText

      section.content.portfolio
        .container
          .row
            .portfolio_container.col-md-10.col-md-offset-1.col-sm-8.col-sm-offset-2
              .row
                each val in portfolio
                  .col-md-6.col-sm-12.col-xs-12
                    .portfolio_body.thumbnail
                      img.portfolio_img.img-responsive(src=val.img)
                      .caption.text-center
                        h3.portfolio_title= val.title

      section.content.contact.full-screen
        .container
          .contact_first.row
            .col-md-4.col-sm-4.col-xs-4.col-md-offset-5.col-sm-offset-4.col-xs-offset-3
              a.contact_btn.btn.btn-default.btn-lg(href='#') Github
          .row
            .col-md-4.col-sm-4.col-xs-4.col-md-offset-5.col-sm-offset-4.col-xs-offset-3
              a.contact_btn.btn.btn-default.btn-lg(href='#') FreeCodeCamp

    footer.footer
      p.footer_body.text-center xandeer © 2017. All Rights Reversed
